<div class="center jumbotron">
    <h1>welcome to the medi app</h1>
    <h2>
        this is the home page for the medi app.we value for your health
    </h2>
    <%= link_to "sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
