<h1>Pages#home</h1>
<div class="center jumbotron">
    <h1>welcome to the Medi App</h1>
    <h2>
        this is the homepage of the Medi App!!
    </h2>
    <%= link_to "Sign up now!!", '#', class: "btn btn-lg btn-primary" %>
</div>
