<footer class="footer">
    <small>
    THE < MEDI APP>
    </small>
    <nav>
        <ul>
            <li><%= link_to "about", '#' %></li>
            <li><%= link_to "help", '#' %></li>
        </ul>
        </nav>
        </footer>
